{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container-fluid">
        <h3 class="ml-3 mt-4 list">Movies</h3>
        <div class="row mt-4 no-gutters movierow mx-auto">
            {% for i in movies %}
            <div class="col-lg-2 col-md-2 col-12">
                <a href="{% url 'movie' i.id %}">
                <img src="{{i.img1.url}}" class="img-fluid">
                </a> 
            </div>
            {% endfor %}
         
        </div>
    </div>
</section>


{% endblock %}