{% extends 'home.html' %}

{% block content %}

<section class="mt-5">
    <div class="conatiner mt-5">
        <div class="row text-center">
            <div class="card card-body col-lg-4 col-md-4 col-12 mx-auto">
              <img src="https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png">
              <p class="mt-3">STEP <strong>1</strong> OF <strong>3</strong></p>
              <h3>Finish setting up your account.</h3>
              <P class="mt-2">MiniFLix is personalised for you. Create<br> a password to watch MiniFLix on any<br> device at any time.</P>
              <a href="{% url 'signupsecond' %}" class="btn btn-block btn-danger">Continue</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>

{% endblock %}