{% extends 'home.html' %}

{% block content %}
<section class="mt-5">
    <div class="conatiner mt-5">
        <div class="row">
            <div class="card card-body col-lg-4 col-md-4 col-12 mx-auto">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Lock.png" class="mx-auto" width="50px">
                <p class="mt-3 text-center">STEP <strong>3</strong> OF <strong>3</strong></p>
                <h3 class="text-center">Set up your payment.</h3>
                <p class="text-center mt-2">Your membership starts as<br> soon as you set up<br> payment.</p>
                <p class="text-center">No commitments.<br>Cancel online anytime.</p>
                <a href="{% url 'signupsixth' %}" class="btn btn-block btn-danger mt-3">Credit or Debit Card 
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/visa-v3.svg" width="10%">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/mastercard-v2.svg" width="10%">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/amex-v2.svg" width="10%">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/icon_dinersclub_v2.png" width="10%">
                    <img src="https://assets.nflxext.com/ffe/siteui/acquisition/reg_selection/chevron_060915_2.svg" width="7%" class="float-right">
                </a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
      
</section>


{% endblock %}